@model DynamicsNAV365_StaffPortal.Models.HumanResource.PerformanceTargetModels.EmployeePerformanceTargetLineModel
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <i class="fa fa-percent fa-fw"></i> 4). Employee Performance Targets
            </div>
            <table id="EmployeePerformanceTargetLineTbl" class="table table-striped table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Agreed Performance Targets</th>
                        <th>Key Performance Indicator</th>
                        <th>Key Result Areas (Output)</th>
                        <th>.</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <div id="EmployeePerformanceTargetLineModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EmployeePerformanceTargetLineModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
                        <h4 id="EmployeePerformanceTargetLineModalLabel" class="modal-title">View Performance Target Output</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "AreaOfAchievementForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()

                            if (Model != null && Model.LineErrorStatus == true)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error! </strong>@Html.Raw(HttpUtility.HtmlDecode(Model.LineErrorMessage))
                                </div>
                            }

                            @Html.HiddenFor(model => model.LineNo)
                            @Html.HiddenFor(model => model.AppraisalNo)

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-static">
                                        @Html.LabelFor(model => model.AgreedPerformanceTargets, htmlAttributes: new { @id = "AgreedPerformanceTargetsLbl", @class = "control-label" })
                                        @Html.EditorFor(model => model.AgreedPerformanceTargets, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.AgreedPerformanceTargets, "", new { @id = "AgreedPerformanceTargetsError", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-static">
                                        @Html.LabelFor(model => model.KeyPerformanceIndicator, htmlAttributes: new { @id = "KeyPerformanceIndicatorLbl", @class = "control-label" })
                                        @Html.EditorFor(model => model.KeyPerformanceIndicator, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.KeyPerformanceIndicator, "", new { @id = "KeyPerformanceIndicatorError", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-static">
                                        @Html.LabelFor(model => model.KeyResultAreasOutput, htmlAttributes: new { @id = "KeyResultAreasOutputLbl", @class = "control-label" })
                                        @Html.EditorFor(model => model.KeyResultAreasOutput, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.KeyResultAreasOutput, "", new { @id = "KeyResultAreasOutputError", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-xs btn-danger" type="button" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






