@model DynamicsNAV365_StaffPortal.Models.DocumentMgmt.DocumentMgmtModel

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div id="AjaxLoader" class="">
					Loading Application Documents
					<img src="~/Content/images/ajax-loader.gif" alt="Loading Application Documents..." style="width:15px;height:15px;" />
				</div>

				<div id="TableContainer" class="table-responsive">
					<table id="ApplicationDocumentsTbl" class="table table-striped table-bordered" style="display:none;">
						<thead class="text-primary">
							<tr>
								<th>Document Description</th>
								<th>Document Attached</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>

				<div id="ApplicationDocumentModal" class="modal fade" role="dialog" aria-labelledby="ApplicationDocumentModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="btn close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
								<h4 id="ApplicationDocumentModalLabel" class="modal-title">Upload @Model.DocumentDescription</h4>
							</div>
							<div class="modal-body">

								@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "ApplicationDocumentForm", @class = "" }))
								{
									@Html.AntiForgeryToken()

									<div id="errorMessage" class="alert alert-danger">

									</div>

									@Html.HiddenFor(model => model.DocumentNo)
									@Html.HiddenFor(model => model.DocumentCode)

									<div class="row">
										<div class="col-md-12">
											<div class="alert alert-danger" role="alert">
												Only PDF Files(.pdf) are accepted. The maximum file size acceptable is 10MB.
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating">
												@Html.LabelFor(model => model.DocumentDescription, htmlAttributes: new { @id = "DocumentDescriptionLbl", @class = "control-label" })
												@Html.EditorFor(model => model.DocumentDescription, new { htmlAttributes = new { @class = "form-control" } })
												@Html.ValidationMessageFor(model => model.DocumentDescription, "", new { @id = "DocumentDescriptionError", @class = "text-danger" })
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="input-group">
												<span class="input-group-btn">
													<span class="btn btn-primary btn-file">
														Browse Document <input id="ApplicationDocumentFile" type="file" name="files">
													</span>
												</span>
												<input id="ApplicationDocumentName" type="text" class="form-control" readonly>
											</div>
										</div>
									</div>
								}
							</div>
							<div class="modal-footer">
								<div class="col-md-8">
									<button class="btn btn-danger btn-xs" type="button" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>






