@model IList<DynamicsNAV365_StaffPortal.Models.ProjectManagement.ProjectRisksModel>

@{
    ViewBag.Title = "Project Risks";}
<!--Render Human Resource Sidebar-->
@{Html.RenderAction("_ProjectManagementSidebar", "ProjectHome");}
<aside class="right-side">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="company_card">
                        <div class="row"> 
                            <div class="col-md-4">
                                <h4 class="title" style="text-align:center">Project Risks : @ViewBag.ProjectNumber </h4>
                            </div>
                            @{ string addriskUrl = Url.Action("AddProjectRisk", "Projects") + "?ProjectNo=" + @ViewBag.ProjectNumber; }

                            <div class="col-md-2">
                                <a class="btn btn-success btn-xs pull-right" href="@addriskUrl">
                                    <strong style="color:white">
                                        <i class=""></i>
                                        Add Risk
                                    </strong>
                                </a>

                                @*<input type="submit" id="submitBtn" name="Command" value="Add Benefit" class="btn btn-white btn-xs pull-right ladda-button" data-style="slide-right" data-background-color="green" />*@
                            </div>
                            <div class="col-lg-4">
                                @{
                                    var success = TempData["success"];
                                    var failed = TempData["failed"];
                                }
                                @if (success != null)
                                {
                                    <a class="btn btn-sm" id="successalert" style="background-color:#d4edda; color:#155724; text-transform:lowercase;">
                                        @success
                                    </a>
                                }
                                @if (failed != null)
                                {
                                    <a class="btn btn-sm" id="successalert" style="background-color:#f8d7da; color:#721c24; text-transform:lowercase;">
                                        @failed
                                    </a>

                                }
                            </div>

                            <div class="col-md-2">
                                <a class="btn btn-danger btn-xs pull-right" href="@Url.Action("ProjectInfo", "ProjectHome")">
                                    <strong style="color:white">
                                        <i class=""></i>
                                        Close
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="ProjectsRisksTbl" class="table">
                                    <thead class="text-primary">
                                        <tr>
                                            @*<th>Project No.</th>*@
                                            <th>Risk</th>
                                            <th>Impact</th>
                                            <th>Impact Level</th>
                                            <th>Priority Level</th>
                                            <th>Probability Level</th>
                                            <th>Mitigation</th>
                                            <th>Owner</th>
                                            <th>Objective Related</th>
                                            <th>Risk Start Date</th>
                                            <th>RiskEndDate</th>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            string editUrl = "";

                                            //string approverUrl = "";
                                            for (int i = 0; i < Model.Count; i++)
                                            {
                                                editUrl = Url.Action("EditProjectRisk", "Projects") + "?Line=" + Model[i].LineNo;

                                                <tr>
                                                    @*<td>@Model[i].ProjectCode</td>*@
                                                    <td>@Model[i].RiskDescription</td>
                                                    <td>@Model[i].ImpactDescription</td>
                                                    <td>@Model[i].ImpactLevel</td>
                                                    <td>@Model[i].PriorityLevel</td>
                                                    <td>@Model[i].ProbabilityLevel</td>
                                                    <td>@Model[i].MitigationNotes</td>
                                                    <td>@Model[i].OwnerName</td>
                                                    <td>@Model[i].ObjectiveRelated</td>
                                                    <td>@Model[i].RiskStartDate.Value.ToString("d")</td>
                                                    <td>@Model[i].RiskEndDate.Value.ToString("d")</td>


                                                    <td>
                                                        @*@if (@Model[i].Status == "Open" || @Model[i].Status == "Declined with amendments")
                                                            {*@
                                                        <a href="@editUrl" class=""><b>Edit</b></a>
                                                        @*}*@
                                                    </td>
                                                    <td>                                                
                                                        <a href="" onclick="return DeleteRiskLine(@Model[i].LineNo);"><b>Delete</b></a>                                                  
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ProjectsRisksTbl').DataTable({
                order: [[2, 'asc']],
                rowGroup: {
                    dataSrc: 2
                }
            });
        });
    </script>
}
<script>
//Success Script
$(document).ready(function () {
window.setTimeout(function() {
    $("#successalert").fadeTo(300, 0).slideUp(300, function(){
        $(this).remove();
    });
}, 4000);

});

//Delete Benefit Line
function DeleteRiskLine(LineNo) {
	var ans = confirm("Are you sure you want to remove this record?");
	if (ans) {
		$.ajax({
			url: "/Projects/DeleteRiskLine",
			type: "POST",
			dataType: "json",
			data: { LineNo:LineNo },
			cache: false,
			success: function (result) {
            location.reload();
            alert("Successfully Deleted");
			},
			error: function (errormessage) {
				alert("An Error occurred, Please try again later");
			}
		});
	}
}

</script>




