@using CaptchaMvc.HtmlHelpers

@model DynamicsNAV365_StaffPortal.Models.Account.PasswordResetModel
@{
    ViewBag.Title = "Set Employee Password";
}
<div class="row" style="margin-bottom:10px">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <div class="logo text-center" style="background-color:inherit">
            <a href="@Url.Action("Index", "Home")" class="simple-text">
                <img src="~/Content/images/log.png" class="simple-logo" />
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <div class="card">
            <div class="card-header text-center" data-background-color="company_card">
                <h4 class="title"><i>Set Employee Portal Password</i> </h4>
            </div>
            <div class="card-content">
                @using (Html.BeginForm("ResetEmployeePassword", "Account", FormMethod.Post, new { @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            @if (Model != null && Model.ErrorStatus == true)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error! </strong>@Html.Raw(HttpUtility.HtmlDecode(Model.ErrorMessage))
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            @Html.HiddenFor(model => model.PasswordResetToken, new { id = "PasswordResetToken" })
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.EmployeeEmail, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmployeeEmail, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.EmployeeEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div>
                                @Html.MathCaptcha()
                            </div>
                            <p class="text-danger"><i>@ViewBag.CaptchaErrorMessage</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group" style="margin:0px;padding:0px">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8">
                                        <button class="btn btn-white ladda-button" type="submit" data-style="slide-right" data-background-color="company_card">
                                            <span class="ladda-label">
                                                Set Password
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

    </script>
}