@model DynamicsNAV365_StaffPortal.Models.StaffRequisition.JobResponsibilities
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-newspaper-o fa-fw"></i> 7). Job Responsibilities
            </div>
            <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#JobResponsibilityModal" onclick="ClearJobReponsibilitiesModal();">
                <i class="fa fa-plus"></i>
                Add Job Responsibility
            </button><br />
            <table id="JobResponsibilitiesTbl" class="table table-striped table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="JobResponsibilityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="JobResponsibilityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
                        <h4 id="JobResponsibilityModalLabel" class="modal-title">Job Responsibility</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "JobResponsibilityForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()

                            if (Model != null && Model.LineErrorStatus == true)
                            {
                                <div class="col-md-12">
                                    <div id="errorMessage" class="alert alert-danger" role="alert">
                                    </div>
                                </div>
                            }

                            @Html.HiddenFor(model => model.LineNo)
                            @Html.HiddenFor(model => model.DocumentNo)


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Description7, htmlAttributes: new { @id = "Description7Lbl", @class = "control-label" })
                                        @Html.EditorFor(model => model.Description7, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description7, "", new { @id = "Description7Error", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button id="CreateResponsibilityBtn" class="btn btn-xs btn-primary" type="button" onclick="CreateJobResponsibilities();"><i class="fa fa-plus"></i>Save</button>
                        <button id="ModifyResponsibilityBtn" class="btn btn-xs btn-primary" type="button" onclick="ModifyJobResponsibilities();"><i class="fa fa-adjust"></i>Update</button>
                        <button class="btn btn-xs btn-danger" type="button" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


