@model DynamicsNAV365_StaffPortal.Models.AssetTransferHeader

@{
    ViewBag.title = "Asset Transfer Header";
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    @{ Html.RenderAction("_AdministrationSidebar", "Administration"); }
    <aside class="right-side">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        @using (Html.BeginForm("ViewAssetTransfer", "Administration", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-header" data-background-color="company_card">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h4 class="title">
                                            <i>Edit/View Asset Transfer</i>
                                        </h4>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-xs pull-right" target="_blank" href="@Url.Action("IssueAssetTransfer", new { no = Model.No })">
                                            <i class="fa fa-file"></i>
                                            Issue
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-xs pull-right" href="@Url.Action("RecieveAssetTransfer", new { no = Model.No })">
                                            <i class="fa fa-file"></i>
                                            Recieve
                                        </a>
                                    </div>
                                    @if (Model.Status == "Received")
                                    {
                                        <div class="col-md-2">
                                            <a class="btn btn-danger btn-xs pull-right" href="@Url.Action("AssetTransferReceived")">
                                                <i class="fa fa-close"></i>
                                                Close
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-2">
                                            <a class="btn btn-danger btn-xs pull-right" href="@Url.Action("AssetTransferIssued")">
                                                <i class="fa fa-close"></i>
                                                Close
                                            </a>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                            <div class="card-content">
                                @if (Model != null && Model.ErrorStatus == true)
                                {
                                    <div class="alert alert-danger">
                                        <strong>Error! </strong>@Html.Raw(HttpUtility.HtmlDecode(Model.errorMessage))
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    @Html.LabelFor(model => model.No, htmlAttributes: new { @id = "NoLbl", @class = "control-label" })
                                                    @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.No, "", new { @id = "NoError", @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    @Html.LabelFor(model => model.Effective_Transfer_Date, htmlAttributes: new { @id = "EmployeeNoLbl", @class = "control-label" })
                                                    @Html.EditorFor(model => model.Effective_Transfer_Date, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Effective_Transfer_Date, "", new { @id = "EmployeeNoError", @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @id = "EmployeeNameLbl", @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.Department,Model.Department_Select, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.Department, "", new { @id = "EmployeeNameError", @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-success btn-xs pull-right ladda-button" value="Save Header"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Render imprest line partial view-->
                                    @{ Html.RenderAction("_AssetTransferLine", new { no = Model?.No }); }
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

        	//Initialize Imprest Scripts
            InitializeImprestRequest();

            var docNo = $("#No").val();

        });

        
	</script>
}