@model System.Collections.Generic.List<OdataRef.Peer_Appraisal_Lines>
@{
    bool? editable = ViewBag.editable;
}
<div class="row">
<h4>Management Leadership Review</h4>
<p>Description: Guides the team to achieve desired results. Delegates responsibilities appropriately and effectively, while developing direct reports. </p>
    <div class="col-md-12">
        <div class="row">
            @if (editable == true)
            {
                <div class="col-md-12">
                    <button class="btn btn-xs btn-primary" type="button" data-toggle="modal" data-target="#ManagementLineModal" onclick="ClearManagementsLineModal();">
                        <i class="fa fa-shopping-cart"></i> Add review
                    </button>
                </div> 
            }
            
        </div>
        <div id="" class="table-responsive">
            <table id="ManagementLineTbl" class="table table-striped table-bordered">
                <thead class="text-primary">
                <tr>
                    <th>review remarks</th>
                    <th>.</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var midYearAppraisalLines in Model)
                {
                    <tr>
                        <td>@midYearAppraisalLines.Remarks</td>
                        @if (editable == true)
                        {
                            <td>
                                <a onclick="return EditManagementLine(this,'@midYearAppraisalLines.Entry_No','@midYearAppraisalLines.Remarks')">Edit</a>|
                                <a onclick="DeleteManagementLine(this,'@midYearAppraisalLines.Entry_No')">Delete</a>
                            </td>  
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="ManagementLineModal" class="modal fade" role="dialog" aria-labelledby="MidYearLineModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new {@id = "MiddleYearLineForm", @class = ""}))
                        {
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="btn close" type="button" data-dismiss="modal">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    <h4 id="StoreRequisitionLineModalLabel" class="modal-title">Management Leadership review</h4>
                                </div>
                                <div class="modal-body">

                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="Doc_No" value="@ViewBag.no"/>
                                    <input type="hidden" name="Entry_No" class="Entry_No" id="Entry_No" value=""/>
                                    <input type="hidden" name="Type" id="Type" value="1"/>
                                    <input type="hidden" name="Command" id="Command" class="Command" value="create">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label for="">Management Leadership review</label>
                                                <input type="text" class="form-control Remarks" name="Remarks" id="Remarks">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    @*<button id="CreateMidYearLineBtn" style="align-content:center" class="btn btn-primary btn-xs" type="button" onclick="CreateMidYearLine(this);"><i class="fa fa-plus"></i>Add Line</button>*@
                                    <button id="ModifyMidYearLineBtn" style="align-content:center" class="btn btn-primary btn-xs" type="button" onclick="ModifyManagementsLine(this);"><i class="fa fa-adjust"></i>Save</button>
                                    <button class="btn btn-danger btn-xs" type="button" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
	function EditManagementLine(element, entryNo,Remarks) {
	  $(".Entry_No").val(entryNo);
	  $(".Remarks").val(Remarks);
      $('.Command').val("edit");
	  $("#ManagementLineModal").modal("show");
	}
    
	function ModifyManagementsLine(element) {
	  var data = $(element).closest("form").serialize();
	  console.log(data)
		$.ajax({
			type: 'GET',
			url: '@Url.Action("ModifyPeerAppraisalLine")',
			data: data,
			dataType: 'json',
			success: function (result) {
				if (result.success){
                    $("#ManagementLineModal").modal("hide");
                    $("#MidYearLineConcernModal").modal("hide");
                    $("#MidYearAgreedActionsLineModal").modal("hide");
                    LoadManagementLines('@ViewBag.no')
					Swal.fire("success","Saved Successfully","success");
				}
				else Swal.fire("error",result.message,"error");
			},
			error: function (xhr, errorType, exception) {
                            Swal.fire("error",xhr.responseText,"error");
                        }
		})
	}
    
    function LoadManagementLines(DocumentNo) {
        $.ajax({
            url: '@Url.Action("LoadPeerAppraisalLines")',
            type: "GET",
            dataType: "json",
            data: { DocumentNo: '@ViewBag.no', type: "Management Leadership"  },
            cache: false,
            success: function (Lines) {
                var rows = "";
    
                $.each(Lines, function (i, Line) {
                    $("#AddReqLine").css("display", "block");
                    let row = `
                        <tr>
                            <td>${Line.Remarks}</td>
                            <td>
                                <a href="#" onclick="EditManagementLine(this, '${Line.Entry_No}','${Line.Remarks}')">Edit</a> |
                                <a href="#" onclick="DeleteManagementLine(this,'${Line.Entry_No}')">Delete</a>
                            </td>
                        </tr>
                    `;
                    rows += row;
                });
    
                // remove existing table rows
                $("#ManagementLineTbl tbody tr").remove();
    
                // add new table rows
                $("#ManagementLineTbl tbody").append(rows);
            },
            error: function (xhr, errorType, exception) {
                            Swal.fire("error",xhr.responseText,"error");
                        }
        });
    }
    function ClearManagementsLineModal() {
      $(".Entry_No").val("");
      $(".Remarks").val("");
      $(".Remarks").text('');
      $('.Command').val("create");
    }
    function DeleteManagementLine(element,entryNo) {
        if (confirm("Are you sure you want to delete this line ?")){
          $.ajax({
                type: 'GET',
                url: '@Url.Action("DeletePeerAppraisalLine")',
                data: {no:entryNo , DocNo: '@ViewBag.no'},
                dataType: 'json',
                success: function (result) {
                    if (result.success){
                          $(element).closest("tr").remove();
                        Swal.fire("success","Deleted Successfully","success");
                    }
                    else Swal.fire("error",result.message,"error");
                },
                error: function (xhr, errorType, exception) {
                    Swal.fire("error",xhr.responseText,"error");
                }
            })
        }
    }
   
</script>