@model System.Collections.Generic.List<OdataRef.SignedSales>

@{
    ViewBag.Title = "SignedSales"; 
}
<div class="wrapper row-offcanvas row-offcanvas-left">
    @{ Html.RenderAction("_PerformanceSidebar", "TargetSettings"); }
    <aside class="right-side">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="company_card">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="title">
                                        <i>Signed Sales Statistics</i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="TableContainer" class="table-responsive table-condensed table-striped">
                                        <table id="TimeSheetsTbl" class="stripe">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>Employee No.</th>
                                                    <th>Employee Name</th>
                                                    <th>Plot No</th>
                                                    <th>Date of Agreement</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var SignedSales in Model)
                                                {
                                                    <tr>
                                                        <td>@SignedSales.Code</td>
                                                        <td>@SignedSales.Name</td>
                                                        <td>@SignedSales.Plot_Name</td>
                                                        <td>@String.Format("{0:MM/dd/yyyy}", SignedSales.Date_of_Agreement)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var ActiveTab = '@ViewBag.ActiveTab';
            console.log(ActiveTab);
            ////Add CSS Classes
            if (ActiveTab === 'SignedSales') $("#TargetSettings").addClass("active");

            $("#TimeSheetsTbl").dataTable({
                "order": [[0, "No"]],
                "fixedColumns": true
            });
        });
    </script>
}