@model IEnumerable<DynamicsNAV365_StaffPortal.Models.HumanResource.StaffTargetObjectives>
@{
    ViewBag.Title = "Staff Target Objectives";
}
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!--Render Human Resource Sidebar-->
    @{ Html.RenderAction("_PerformanceSidebar", "TargetSettings"); }
    <aside class="right-side">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="company_card">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="title">
                                        <i>Staff Target Objectives</i>
                                    </h4>
                                </div>

                            </div>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="TableContainer" class="table-responsive table-condensed table-striped">
                                        <table id="TimeSheetsTbl" class="stripe">
                                            <thead class="text-primary">
                                            <tr>
                                                <th>No.</th>
                                                <th>Employee Number</th>
                                                <th>Employee Name</th>
                                                <th>Directorate</th>
                                                <th>Department</th>
                                                <th>Period</th>
                                                <th>Supervisor</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var staffTargetObjectives in Model)
                                            {
                                                <tr>
                                                    <td>@staffTargetObjectives.Number</td>
                                                    <td>@staffTargetObjectives.StaffNo</td>
                                                    <td>@staffTargetObjectives.Directorate</td>
                                                    <td>@staffTargetObjectives.Department</td>
                                                    <td>@staffTargetObjectives.Period</td>
                                                    <td>@staffTargetObjectives.Supervisor</td>
                                                    <td>
                                                        <a href="@Url.Action("ViewStaffTargetObjective", new { staffTargetObjectives.Number })" class="">
                                                            <b>View</b>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //Add CSS Classes
            $("#ApplicationsMenuItem").addClass("active");

            $("#TimeSheetsTbl").dataTable({
                "order": [[0, "No"]],
                "columnDefs": [ {
                    "targets": [1,2,3,4,5,6,7,8,9,10],
                    "orderable": false,
                }],

                "fixedColumns": true
            });
        });
    </script>
}